name: Run checks
on:
  push:
    branches: [main]
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6

      - name: Use Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        uses: reviewdog/action-eslint@v1.34

      - name: Run knip
        run: npm run knip -- --reporter github-actions

      - name: Run tests with coverage
        run: npm run test:coverage

      - name: Report coverage
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2.9.2

      - name: Archive reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            coverage
            html
