name: run tests
on:
  push:
    branches: [main]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6

      - name: Use Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - run: npm ci

      - run: npm run test:coverage

      - name: Report coverage
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2.9.2

      - name: Archive reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: reports
          path: |
            coverage
            html
